<div id="mylinks">
  <ul class="nav nav-list">
    <li><a href="/rss.xml"><span class="icon-rss"></span>订阅 RSS</a></li>
    <li><a href="http://github.com/licheng/"><span class="icon-github"></span>Github</a></li>
    <li><a href="http://twitter.com/li_cheng/"><span class="icon-twitter"></span>Twitter</a></li>
    <li><a href="https://www.facebook.com/cheng.li.5494"><span class="icon-facebook"></span>Facebook</a></li>
    <li><a href="http://www.linkedin.com/profile/view?id=91322629"><span class="icon-linkedin"></span>Linkedin</a></li>
  </ul>
</div>
<div id="recentcomments" class="dsq-widget">
  <h3 class="dsq-widget-title">最近评论</h3>
  <script type="text/javascript" src="http://blog-lifetoy.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
</div>
<div>
  <h3>链接</h3>
  <ul class="nav nav-list">
    <li><a href="http://blog.stariy.org/"><i class="icon-link"></i>-Flyぁ梦-</a></li>
  </ul>
</div>
